
.assignable-display{

  .list-thumbnail{
    width: 60px;
    height: 60px;
    object-fit: contain;
  };

  .icon-place-holder{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
  }


    color: #595959;

    .media-row {
      display: inline-block;
      height: 100px;
      img {
        height: 100px;
        vertical-align: top;
      }
    }


  .list-title {
    font-size: 20px;
  }

}

:host-context(.assignable-list-compact) {

  .list-title{
    font-size: 10px;
  }

}

:host app-sound-control {
  padding: 10px 30px;
  font-size: 40px;
  line-height: 60px;

  .sound-control {
    vertical-align: middle;
    line-height: 60px;
  }
}