
<div class="assignable-display">

  <div *ngIf="!model.image" class="icon-place-holder list-thumbnail">*</div>
  <img *ngIf="model.image" class="list-thumbnail" src="{{ model.image }}" title="{{ model.name }}">
  <span class="list-title">{{ model.name }}</span>
  <div class="controls pull-right">
    <app-sound-control [src]="model.sound"></app-sound-control>
    <span class="badge pull-right ">{{ model.displayOrder }}</span>
    <button type="button" class="btn btn-default btn-xs" (click)="editItem()">Edit</button>
  </div>
</div>