
.assignable-display {



  .icon-place-holder {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
  }

  color: #595959;

  .media-row {
    display: inline-block;
    height: 100px;
    img {
      height: 100px;
      vertical-align: top;
    }
  }

  .list-title {
    font-size: 20px;
  }

}

:host-context(.assignable-list) {

  .list-thumbnail {
    width: 60px;
    height: 60px;
    object-fit: contain;
    vertical-align: top;
  };


}

:host-context(.assignable-list-compact) {

  .list-thumbnail{
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .controls {
    display: none;
  }

  .list-title {
    display: none;
  }

}

:host app-sound-control {
  padding: 10px 10px;
  font-size: 20px;
  line-height: 30px;

  .sound-control {
    vertical-align: middle;
    line-height: 30px;
  }
}