<div class="crop-container" *ngIf="image">
  <div id="imageContainer" [ngStyle]="{'display': showPreview ? 'none' : 'block' }"  >
    <img #jCrpr class="jCropper" [model]="model" (onSelect)="onCropSelected($event)"
         (onImageLoad)="onImageLoaded($event)"
         id="currentImage" src="{{ image }}"/>
  </div>
  <div id="preview-container" *ngIf="showPreview" [ngStyle]="getImagePreviewContainerStyle()" >
    <img id="preview" src="{{ image }}" [ngStyle]="getImagePreviewStyle()" />
  </div>
</div>