
<div id="assignment" class="row">
  <h2>Assignment</h2>

 <div id="fcHierarchy" class="deck-set-col col-md-4">
    <div id="sets">
      <h3>Sets</h3>
      <app-deck-sets [filterId]="-1" (onItemSelected)="onSetSelected($event)" (onItemEditing)="onSetEditing($event)"></app-deck-sets>
    </div>
    <div id="decks" *ngIf="selectedSet">
      <h3>Decks</h3>
      <app-deck-sets [filterId]="selectedSet.id" (onItemEditing)="onDeckEditing($event)" (onItemSelected)="onDeckSelected($event)"></app-deck-sets>
    </div>
  </div>


    <div id="cards" class="col-md-4">
      <h3>Cards</h3>
    </div>



    <div id="files" class="col-md-4">
      <folder-structure (onItemSelected)="onImageSelected($event)" [model]="folderStructure" ></folder-structure>
    </div>



</div>
