
<fso-img-item *ngIf="model && isFile && model.media_file_type < 3" [model]="model" (onSelected)="childSelected($event)" ></fso-img-item>
<fso-sound-item *ngIf="model && isFile && model.media_file_type >= 3" [model]="model" (onSelected)="childSelected($event)" ></fso-sound-item>
<div  *ngIf="model && isFolder" class="folder-title fso" (click)="toggleExpanded()"><i class="fa fa-folder" ></i>{{ model.name }}</div>
<ul *ngIf="model && isFolder" class="folder" [class.collapsed]="!model.expanded">

    <li *ngFor="let folder of model.childFolders">
      <fso-item [model]="folder" (onSelected)="childSelected($event)" [selectMultiple]="selectMultiple"
                ></fso-item>
    </li>
     <li *ngFor="let file of model.files">

      <fso-item [model]="file" (onSelected)="childSelected($event)" [selectMultiple]="selectMultiple"
                ></fso-item>
    </li>
</ul>
