
<div class="row">
    <div class="col-md-8">
        <div *ngIf="targetDevices" class="btn-group">

            <!--[class.btn-default]="deviced != selectedDevice"-->
            <!--[class.btn-success]="device == selectedDevice"-->

            <button *ngFor="let device of targetDevices" class="btn" [class.active]="device == selectedDevice"
                    (click)="selectTargetDevice(device)" >
                {{ device.name }}</button>

        </div>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default" (click)="recalculateTargetCrops()">{{ xCassetView == 0 ? "Create" : "ReCalc" }}</button>
        <button *ngIf="!deploying" class="btn" [class.btn-danger]="!deployed" [class.btn-warning]="deployed"
                (click)="deployCard()">{{ deployLabel }}</button>
      <button *ngIf="deployed" class="btn btn-secondary"
                (click)="reDeployXcasset()">Re-deploy Xcasset</button>

        <button *ngIf="!deploying" class="btn" [class.btn-info]="!soundDeployed" [class.btn-default]="soundDeployed"
                (click)="deploySoundForCard()">{{ soundDeployLabel }}</button>
        <img *ngIf="deploying" class="loader" src="img/ajax-loader.gif">
    </div>
</div>

<div class="xcasset-container" *ngIf="xCassetView != 0">
  <combined-xcasset [model]="combinedModel" *ngIf="xCassetView==1"></combined-xcasset>
  <split-xcasset [model]="splitModel" *ngIf="xCassetView==2"></split-xcasset>
</div>