
<div class="node-display" data-toggle="collapse"
     [attr.data-target]="'#' + model.toggleId">

    <div *ngIf="!model.item.image" class="icon-place-holder list-thumbnail">*</div>
    <img *ngIf="model.item.image" class="list-thumbnail" src="{{ model.item.image }}">
    <span class="list-title">{{ model.item.name }}</span>
    <div class="pull-right info-box">
      <span class="badge ">{{ model.children ? model.children.length.toString() : "" }}</span>

      <!--<i *ngIf="model.children" class="fa fa-chevron-circle-down" data-toggle="collapse"-->
      <!--[attr.data-target]="'#' + model.toggleId"></i>-->

    </div>


</div>

