<ul *ngIf="model" class="list-group deck-set-list">
  <li *ngFor="let set of model.children" class="list-group-item">

    <accordian-node [model]="set"></accordian-node>


    <ul id="{{set.toggleId}}" class="collapse list-group">

      <li *ngFor="let deck of set.children" class="list-group-item" >

        <accordian-node [model]="deck"></accordian-node>

        <ul id="{{deck.toggleId}}" class="collapse">

          <li *ngFor="let card of deck.children">

            <accordian-node [model]="card" ></accordian-node>

          </li>

        </ul>
        <br>

      </li>

    </ul>
    <br>

  </li>

</ul>


