
<div class="deck-set-list">
  <button class="btn btn-success btn-xs pull-right" (click)="addNewDeckSet()">+</button>
  <ul *ngIf="deckSets" class="list-group">

    <li *ngFor="let deckSet of deckSets" class="list-group-item" [class.active]="deckSet == selectedDeckSet"
        (click)="selectDeckSet(deckSet)"  >

        <deck-set-display *ngIf="!(deckSet == selectedDeckSet && editing)" [model]="deckSet" (onEdit)="editDeckSet(deckSet)"></deck-set-display>
        <deck-set-form *ngIf="deckSet == selectedDeckSet && editing" [model]="deckSet"
            (onDecksetAdded)="saveDeckSet($event)" (onUpdated)="saveDeckSet($event)" (onCancelled)="cancelEdit()"
        ></deck-set-form>

    </li>

  </ul>
</div>
