<h2>Settings</h2>
<div class="list-heading-label">Key</div>
<div class="list-heading-label">Value</div>
<ul>
    <li *ngFor="let setting of settings">
        <setting-form [model]="setting"  (onUpdated)="onSettingUpdated($event)"
                      (onDeleted)="onSettingDeleted($event)"
        ></setting-form>
    </li>
</ul>
<button *ngIf="!showAddNew" type="button" class="btn btn-default" (click)="addNew()">New Hero</button>
<setting-form *ngIf="showAddNew" (onSettingAdded)="onSettingAdded($event)" (onCancelled)="onAddSettingCancelled($event)"></setting-form>