<div id="backlog" class="row">
  <h2>Backlog</h2>

  <div id="fcHierarchy" class="deck-set-col col-md-4">

    <div class="assignable-list">
      <button class="btn btn-success btn-xs pull-right" (click)="addNewItem()">+</button>
      <ul *ngIf="items" class="list-group">

        <li *ngFor="let item of items" class="list-group-item" [class.active]="item == selectedItem"
            [class.complete]="item.complete == 2"
            (click)="selectItem(item)">
          <assignable-display [model]="item" (onEdit)="editItem($event)"
          ></assignable-display>

        </li>

      </ul>
    </div>

  </div>

  <div *ngIf="selectedItem" id="cropper" class="col-md-6">
    <crop-component [model]="selectedItem" (onCroppingDone)="onCropComplete($event)"></crop-component>
  </div>

</div>