<div class="row">
    <div class="col-sm-6">
        <button (click)="selectPreviewViewMode(1)">Crops</button>
        <button (click)="selectPreviewViewMode(3)"><- Edit</button>
        <button *ngIf="!deploying" (click)="hardDeployCard()" class="btn btn-danger">Deploy</button>
        <img *ngIf="deploying" class="loader" src="img/ajax-loader.gif">
    </div>
    <div class="col-sm-6">
        <button class="pull-right" (click)="selectPreviewViewMode(2)">Calcs</button>
    </div>

</div>
<div *ngIf="model" class="preview-content">
  <crops-preview *ngIf="previewViewMode==1" [model]="model"></crops-preview>
  <target-device-preview *ngIf="previewViewMode==2"  [model]="model"></target-device-preview>
</div>