.flashcard-sound {

  margin-top: 10px;
  background-color: white;
  display: inline-block;
  height: 62px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  vertical-align: middle;
  line-height: 62px;
  font-size: 20px;

  span.label {
    margin-right: 5px;
  }

  span.no-sound {
    font-size: 10px;
    font-style: italic;
    height: 29px;
    color: grey;
  }
}

:host app-sound-control {
  padding: 5px 5px;
  font-size: 20px;

  .sound-control {
    vertical-align: middle;
    color: #777;
  }
}

.flashcard-image {
  background-color: #fff;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px 0 0 5px;
  padding: 10px 10px 12px 10px;

  img {
    max-width: 310px;
  }

  span.label {
    margin-right: 5px;
  }

  span.no-icon {
    font-size: 10px;
    font-style: italic;
    display: inline-block;
    height: 29px;
  }
}

.flashcard-order {
  background-color: #fff;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 0 5px 5px 0;
  padding: 8px;
}

.flashcard-form div[class*="col-sm"]{
  padding: 2px;

  &:first-child {
    padding-left: 15px;
  }

  &:last-child {
    padding-right: 15px;
  }

}