
<div class="deck-set-list">
  <button class="btn btn-success btn-xs pull-right" (click)="addNewItem()">+</button>
  <ul *ngIf="items" class="list-group">

    <li *ngFor="let item of items" class="list-group-item" [class.active]="item == selectedItem"
        (click)="selectItem(item)"  >
      <flashcard-display *ngIf="!(item == selectedItem && editing)" [model]="item"
        (onEdit)="editItem()"
      ></flashcard-display>
      <flashcard-form *ngIf="item == selectedItem && editing" [model]="item"
                     (onAdded)="saveItem($event)" (onUpdated)="saveItem($event)" (onCancelled)="cancelEdit()"
      ></flashcard-form>

    </li>

  </ul>
</div>