//:host.assignable-list-compact /deep/ .list-title{
//    font-size: 10px;
//  }




.assignable-list{

  //:host .assignable-display{
  //  font-size: 20px;
  //}

  .list-group-item{
    color: #595959;
    cursor: pointer;

    .complete {
      background-color: #9acfea;
    }

    .active {
      background-color: #1c94c4;
    }



  }



  .btn-success {
    margin-top: -34px;
  }

  .list-group-item.active{
    color: #fff;
  }

  .list-group-item.active input{
    color: #595959;
  }

  .btn-xs {
    margin-right: 4px;
  }

  .badge {
    display: inline-block;
    margin-top: 2px;
  }
}