<span class="file fso" [class.selected]="model.selected" [class.disabled]="notAvailable">
    <img *ngIf="showLoading" class="loader" src="img/ajax-loader.gif">
    <i *ngIf="!(showIcon || showLoading)" class="fa fa-download" (click)="downloadFile()" ></i>
    <img *ngIf="showIcon" src="{{model.relativePath}}" (click)="toggleSelected()"  >
    <span class="fso-label" (click)="toggleSelected()" >{{ toRepresentation() }}</span>
    <i *ngIf="showUpload" class="fa fa-upload" (click)="uploadFile()"></i>

<!--    <audio controls="" ng-src="../media/sounds/chicken/Chicken1.mp3" type="audio/mpeg" src="../media/sounds/chicken/Chicken1.mp3">
                        Your browser does not support audio
                    </audio>-->
</span>